{% extends 'base.html.twig' %}

{% block title %} Prostage - Entreprise {% endblock %}

{% block body %}
  <!-- Titre -->
  <h1> Page de tous les stages </h1>


  {% set debutLigne = true %}

    {% for entrepriseCourante in entreprises %}

        <div class="row">
          <div class="col-4 offset-4">
            <div class="card mb-3">
              <a style="text-align: center;" href="{{path('entreprise',{nom: entrepriseCourante.nom})}}"> {{entrepriseCourante.nom}} </a>
              <a href="{{path('modifEntreprise',{id: entrepriseCourante.id})}}" style="color: red; font-size: 9px; text-align: right;"> Modifier entreprise </a>
            </div>
          </div>
        </div>


    {% endfor %}



{% endblock %}
