{% extends 'base.html.twig' %}

{% block title %} Prostage - Entreprise {% endblock %}

{% block body %}
  <!-- Titre -->
  <h1> Page de tous les stages </h1>


  {% set debutLigne = true %}

    {% for entrepriseCourante in entreprises %}

        <div class="row">
          <div class="col-4 offset-4">
            <div class="card mb-3">
              <p style="text-align: center;"><a href="{{path('entreprise',{nom: entrepriseCourante.nom})}}"> {{entrepriseCourante.nom}} </a> -- <a href="{{path('modifEntreprise',{id: entrepriseCourante.id})}}" style="color: red;"> Modifier entreprise</a> </p>
            </div>
          </div>
        </div>


    {% endfor %}



{% endblock %}
